In [1]:
# Lesson 106

In [2]:
import datetime

In [8]:
# Checking out some of the objects with a random time

my_time = datetime.time(13, 20, 1, 20)

In [9]:
my_time.hour

13

In [10]:
my_time.minute

20

In [11]:
print(my_time)

13:20:01.000020

In [12]:
my_time.second

1

In [13]:
my_time.microsecond

20

In [14]:
type(my_time)

datetime.time

In [15]:
# To add in date

today = datetime.date.today()

In [16]:
today

datetime.date(2022, 7, 18)

In [17]:
print(today)

2022-07-18

In [18]:
today.year

2022

In [19]:
today.month

7

In [20]:
today.day

18

In [21]:
# Demonstrating ctime, which adds the epoch data

today.ctime()

'Mon Jul 18 00:00:00 2022'

In [22]:
# The subclass to combine date and time is datetime

from datetime import datetime

In [25]:
my_datetime = datetime(2022, 8, 13, 19, 25, 7)

In [26]:
type(my_datetime)

datetime.datetime

In [27]:
my_datetime

datetime.datetime(2022, 8, 13, 19, 25, 7)

In [28]:
print(my_datetime)

2022-08-13 19:25:07

In [30]:
# You can update the datetime as follows, (in-place update)

my_datetime = my_datetime.replace(year=2021)

In [31]:
print(my_datetime)

2021-08-13 19:25:07

In [32]:
# Examples of date time arithmatic

In [36]:
# Date difference

from datetime import date

date1 = date(2022, 7, 18)
date2 = date(2021, 7, 18)

date_diff = date1 - date2

In [37]:
type(date_diff)

datetime.timedelta

In [38]:
print(date_diff)

365 days, 0:00:00

In [39]:
date_diff.days

365

In [43]:
# Datetime difference

datetime1 = datetime(2022, 7, 18, 22, 0)
datetime2 = datetime(2021, 7, 18, 12, 0)

datetime1 - datetime2

datetime.timedelta(days=365, seconds=36000)

In [44]:
datetime_diff = datetime1 - datetime2

In [45]:
# Difference between the time only

datetime_diff.seconds

36000

In [47]:
# Difference in seconds between date and time

datetime_diff.total_seconds()

31572000.0