In [2]:
# Lesson 104

In [3]:
# Demonstrating the Counter method

from collections import Counter

In [4]:
# Imagine a list that contains both duplicate and unique values,

my_list = [7,1,1,1,1,2,2,2,2,3,3,3,3,4,5,5,5,5,6,7,7,7]

In [5]:
# Count how many duplicates of each unique value there are

Counter(my_list)

Counter({7: 4, 1: 4, 2: 4, 3: 4, 4: 1, 5: 4, 6: 1})

In [6]:
# Works with multiple datatypes

my_list = ['a', 10, 10, 'a', 'a', 10]

Counter(my_list)

Counter({'a': 3, 10: 3})

In [7]:
# Works with strings
#
# Show how many times each character is in the string

Counter("The Queen of Hearts made stinky farts, and blew all the knights away")

Counter({'T': 1,
         'h': 3,
         'e': 7,
         ' ': 12,
         'Q': 1,
         'u': 1,
         'n': 4,
         'o': 1,
         'f': 2,
         'H': 1,
         'a': 7,
         'r': 2,
         't': 5,
         's': 4,
         'm': 1,
         'd': 2,
         'i': 2,
         'k': 2,
         'y': 2,
         ',': 1,
         'b': 1,
         'l': 3,
         'w': 2,
         'g': 1})

In [11]:
# Show how many times a word is in a string

sentence = "Naive little Alice drank from a little chalice in a naive way"

Counter(sentence.split())

Counter({'Naive': 1,
         'little': 2,
         'Alice': 1,
         'drank': 1,
         'from': 1,
         'a': 2,
         'chalice': 1,
         'in': 1,
         'naive': 1,
         'way': 1})

In [12]:
# Lower casing everything

Counter(sentence.lower().split())

Counter({'naive': 2,
         'little': 2,
         'alice': 1,
         'drank': 1,
         'from': 1,
         'a': 2,
         'chalice': 1,
         'in': 1,
         'way': 1})

In [13]:
# Common patterns encountered when using the Counter object

letters = "aaaaaaaaaaabbbccccccdddeeeeeee"

c = Counter(letters)

In [14]:
c

Counter({'a': 11, 'b': 3, 'c': 6, 'd': 3, 'e': 7})

In [15]:
# Find the most common elements
#
# most_common() returns a list of tuples

c.most_common()

[('a', 11), ('e', 7), ('c', 6), ('b', 3), ('d', 3)]

In [16]:
# Get a list of the elements

list(c)

['a', 'b', 'c', 'd', 'e']

In [17]:
# Get a set of the elements

set(c)

{'a', 'b', 'c', 'd', 'e'}

In [19]:
# Demonstrating the defaultdict method

from collections import defaultdict

In [20]:
# Getting a keyError using a general purpose dictionary

my_dictionary = {'a':10}

In [22]:
my_dictionary['a']

10

In [28]:
my_dictionary['nonexistent']

KeyError: 'nonexistent'

In [29]:
# Using a defaultdict to handle this

my_defaultdict = defaultdict(lambda: 0)

In [30]:
my_defaultdict['exists'] = 100

In [31]:
my_defaultdict['exists']

100

In [32]:
my_defaultdict['nonexistent']

0

In [33]:
my_defaultdict

defaultdict(<function __main__.<lambda>()>, {'exists': 100, 'nonexistent': 0})

In [35]:
# Demonstrating the namedtuple method

In [36]:
# A general purpose tuple

my_tuple = (20, 30, 40)

In [38]:
# The tuple is small enough that calling it by it's index is fairly easy.

my_tuple[2]

40

In [39]:
# Now using a namedtuple

from collections import namedtuple

In [54]:
dog = namedtuple('Dog', ['age', 'breed', 'nickname'])

In [55]:
dog

__main__.Dog

In [56]:
Deuce = dog(age=7, breed='Rottweiller', nickname='Bubby')

In [57]:
type(Deuce)

__main__.Dog

In [58]:
# namedtuples kind of resemble class objects
#
# Note the association with each fieldname, age:7, breed:Rottweiller, name:Bubby

Deuce

Dog(age=7, breed='Rottweiller', nickname='Bubby')

In [59]:
Deuce.age

7

In [60]:
Deuce.breed

'Rottweiller'

In [61]:
Deuce.nickname

'Bubby'

In [62]:
# Can still call tuple values by their index values

Deuce[0]

7