In [4]:
result = 100/777

In [5]:
result

0.1287001287001287

In [7]:
print (result)

0.1287001287001287

In [13]:
print ("The result was {r:10.3f}".format(r = result))

The result was      0.129

In [14]:
name = "Scott"

In [15]:
print(f"Hello, my name is {name}")

Hello, my name is Scott

In [16]:
age = 42

In [17]:
print(f"{name} is {age} years old")

Scott is 42 years old

In [18]:
my_list = [1,2,3]

In [19]:
my_list = ['STRING', 100, 23.2]

In [20]:
len(my_list)

3

In [22]:
print(my_list[0])

STRING

In [24]:
print(my_list[1:])

[100, 23.2]

In [25]:
my_list + [3,4,5]

['STRING', 100, 23.2, 3, 4, 5]

In [26]:
my_list[1]

100

In [27]:
new_list = [1,2,3,4]

In [30]:
print(new_list)

[1, 2, 3, 4, 6]

In [29]:
new_list.append(6)

In [33]:
new_list.pop(-1)

6

In [34]:
new_list

[2, 3, 4]

In [35]:
my_dict = {'key1':'value1','key2':'value2'}

In [36]:
print(my_dict)

{'key1': 'value1', 'key2': 'value2'}

In [37]:
my_dict['key1']

'value1'

In [38]:
print(my_dict['key1'])

value1

In [53]:
my_dict = {'k1':42,'k2':[0,1,2],'k3':{'insidekey':100}, 'k4':['a','b','c']}

In [42]:
print (my_dict['k3']['insidekey'])

100

In [43]:
print (my_dict['k2'][2])

2

In [45]:
print(my_dict)

{'k1': 42, 'k2': [0, 1, 2], 'k3': {'insidekey': 100}, 'k4': ['a', 'b', 'c']}

In [46]:
print(my_dict['k4'][2].upper())

C

In [47]:
my_dict1 = {'k1':100,'k2':200}

In [54]:
my_dict1

{'k1': 'NEW VAL', 'k2': 200, 'k3': 300}

In [49]:
my_dict1['k3'] = 300

In [51]:
my_dict1['k1'] = "NEW VAL"

In [59]:
my_dict1.keys()

dict_keys(['k1', 'k2', 'k3'])

In [60]:
print(my_dict1.values())

dict_values(['NEW VAL', 200, 300])

In [61]:
print(my_dict1.items())

dict_items([('k1', 'NEW VAL'), ('k2', 200), ('k3', 300)])

In [65]:
my_tuple = ('a','a','b')
my_list = [1,2,3]

In [63]:
type(my_tuple)

tuple

In [64]:
len(my_tuple)

3

In [67]:
print(my_tuple.count('a'))

2

In [68]:
print(my_tuple.index('a'))

0

In [69]:
print(my_tuple.index('b'))

2

In [70]:
my_tuple[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

In [72]:
my_set = set()

In [74]:
my_set.add(1)

In [76]:
my_set.add(2)

In [77]:
print(my_set)

{1, 2}

In [78]:
my_set.add(2)

In [79]:
print(my_set)

{1, 2}

In [82]:
my_list = [1,1,1,2,2,2,3,3,3]

In [83]:
set(my_list)

{1, 2, 3}

In [84]:
pwd

'/Users/scottestes/dev/sund0g/python-bootcamp/section-3'

In [86]:
myfile = open('myfile.txt')

In [87]:
myfile.read()

'Hello this is a text file\nThis is the second line\nThis is the third line'

In [88]:
myfile.seek(0)

0

In [89]:
myfile.readlines()

['Hello this is a text file\n',
 'This is the second line\n',
 'This is the third line']

In [90]:
myfile.readlines()

[]

In [91]:
myfile.close()

In [94]:
with open('myfile.txt', mode='r') as myfile:
    contents = myfile.read()

In [95]:
contents

'Hello this is a text file\nThis is the second line\nThis is the third line'

In [100]:
with open('myfile.txt',mode='a') as myfile:
    myfile.write('\nFOUR ON FOURTH')

In [101]:
with open('myfile.txt', mode='r') as myfile:
    print(myfile.read())

Hello this is a text file
This is the second line
This is the third lineFOUR ON FOURTH
FOUR ON FOURTH

In [102]:
x = open('myfile1.txt',mode='w')
x.write('This is a new file and has been created by Python')
x.close()

In [103]:
4**2

16

In [104]:
16/4

4.0

In [106]:
math.sqrt(16)

NameError: name 'math' is not defined

In [107]:
16 ** 0.5

4.0

In [108]:
9**.5

3.0

In [109]:
sorted([5,9,3,4,1])

[1, 3, 4, 5, 9]