#### Lesson 140

In [1]:
s = set()

In [2]:
# Add some elements to a set.
#
# NOTE: sets do not contain duplicate elements

s.add(1)
s.add(2)

s

{1, 2}

In [3]:
s.add(1)

s

{1, 2}

In [4]:
# Remove all elements from a set

s.clear()

s

set()

In [5]:
# Create a copy of a set.
#
# NOTE: the copy will not be updated if the original set changes

s = {1,2,3}

sc = s.copy()

In [6]:
sc

{1, 2, 3}

In [7]:
s.add(4)

In [8]:
s

{1, 2, 3, 4}

In [9]:
sc

{1, 2, 3}

In [10]:
# Return the difference between 2 sets

s.difference(sc)

{4}

In [14]:
# Modify set1 by removing any elements found in set2

set1 = {1, 2, 3}
set2 = {1, 4, 5}

In [16]:
set1.difference_update(set2)

set1

{2, 3}

In [17]:
# Remove an element, if present, from a set

s

{1, 2, 3, 4}

In [18]:
s.discard(2)

s

{1, 3, 4}

In [19]:
# Return the intersection of two or more sets as a new set,
# i.e. elements in the new set that are common to all of the sets.

set1 = {1, 2, 3}
set2 = {1, 2, 4}

set1.intersection_update(set2)

In [20]:
set1

{1, 2}

In [21]:
# Check if 2 sets have a null intersection, i.e. they have no common elements

set1 = {1, 2}
set2 = {1, 2, 4}
set3 = {3, 5}

In [22]:
set1.isdisjoint(set2)

False

In [23]:
set1.isdisjoint(set3)

True

In [24]:
# Check if one set contains another set

set1.issubset(set2)

True

In [26]:
# Check if a set is a superset of another set

set2.issuperset(set1)

True

In [27]:
set1.issuperset(set2)

False

In [28]:
# Return the symmetric difference of two sets as a new set

set1

{1, 2}

In [29]:
set2

{1, 2, 4}

In [30]:
set1.symmetric_difference(set2)

{4}

In [31]:
# Return the union of two sets

set1.union(set2)

{1, 2, 4}

In [32]:
# Update a set with the union of itself and other sets.

set1.update(set2, set3)

In [33]:
set1

{1, 2, 3, 4, 5}